*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--color-grey-light: #bdbdbd;
	--color-grey-main: #4f4f4f;
	--color-grey-dark: #333333;
}

html {
	height: 100vh;
}

body {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	height: 100px;
}

header a {
	color: var(--color-grey-dark);
	text-decoration: none;
}

header a:hover,
header a:active {
	color: var(--color-grey-light);
}

header h1 {
	margin: 0;
	padding: 40px 77px;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: "Inconsolata", sans-serif;
	letter-spacing: -2.1px;
	text-transform: uppercase;
}

section {
	display: flex;
	justify-content: space-evenly;
	font-family: "Space Mono", sans-serif;
	margin-bottom: 100px;
}

.img-container {
	width: 540px;
}

img {
	height: 100%;
	width: 100%;
}

.text-container {
	width: 580px;
}

.text-container h2 {
	margin: 0;
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: -2.25px;
}

.text-container p {
	width: 65%;
	margin: 36px 0 64px 0;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: -0.85px;
}

.text-container a {
	background-color: var(--color-grey-dark);
	color: white;
	text-decoration: none;
	border: none;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	padding: 26px 43px 24px 43px;
}

.text-container a:hover,
.text-container a:active {
	background-color: var(--color-grey-main);
}

footer {
	height: 60px;
	margin-top: 100px;
	text-align: center;
	color: var(--color-grey-light);
	font-size: 14px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

footer a {
	color: var(--color-grey-light);
	font-weight: 700;
}

footer a:hover,
footer a:active {
	color: var(--color-grey-main);
}

@media (max-width: 48rem) {
	header {
		height: 65px;
	}

	header h1 {
		padding: 20px 24px;
	}

	section {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.img-container {
		margin: 60px 0;
		width: 76%;
	}

	.text-container {
		width: 85%;
	}

	.text-container h2 {
		font-size: 3rem;
	}

	.text-container p {
		width: 100%;
		font-size: 1.125rem;
	}
}
